<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script language="javascript" src="static/js/index.js"></script>
	</head>
	<body>
		<h1>La musilette</h1>

		<div id='notes'>
			<button id="C" onclick='update("DO")'>DO</button>
			<button id="Cs" onclick="update('DO#')">DO#</button>
			<button id="D" onclick="update('RE')">RE</button>
			<button id="Ds" onclick="update('RE#')">RE#</button>
			<button id="E" onclick="update('MI')">MI</button>
			<button id="F" onclick="update('FA')">FA</button>
			<button id="Fs" onclick="update('FA#')">FA#</button>
			<button id="G" onclick="update('SOL')">SOL</button>
			<button id="Gs" onclick="update('SOL#')">SOL#</button>
			<button id="A" onclick="update('LA')">LA</button>
			<button id="As" onclick="update('LA#')">LA#</button>
			<button id="B" onclick="update('SI')">SI</button>
		</div>

		<div id='inputs'></div>

		<div id='buttons'>
			<button id='compute' onclick="compute()">Calculer</button>
			<button id='clean' onclick="clean()">Nettoyer</button>
		</div>

		<div id='results'></div>

	</body>
</html>
