<!DOCTYPE html>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script language="javascript">
			var given_notes = [];
			function update(note) {
				var index = given_notes.indexOf(note);
				if (index >= 0) {
					given_notes.splice(index, 1);
				} else {
					given_notes.push(note);
				}
				 document.getElementById("inputs").innerHTML = given_notes;
			}

			function compute() {
				$.ajax({
				   type: "POST",
				   url: "/compute_ranges",
				   //contentType: 'application/json;',
				   data: {'notes': given_notes},
				   success: function(response){
				   	var i;
				   	document.getElementById("results").innerHTML = '';
				   	for (i=0; i<response.result.length; i++) {
				   		console.log(response.result[i]);
				   		document.getElementById("results").innerHTML += response.result[i]['pourcentage'] + ' ';
				   		document.getElementById("results").innerHTML += response.result[i]['keynote'];

				   		document.getElementById("results").innerHTML += response.result[i]['range'] + ' ';
				   		document.getElementById("results").innerHTML += response.result[i]['notes'] + '</br>';
				   	} 
				   }, 
				   error: function(error){
				   	console.log(error);
				   }
				});
			}

			function clean() {
				given_notes = [];
				document.getElementById("inputs").innerHTML = given_notes;
				document.getElementById("results").innerHTML = '';
			}

			
		</script>
	</head>
	<body>
		<h1>La musilette</h1>

		<div id='notes'>
			<button id="C" onclick='update("DO")'>DO</button>
			<button id="Cs" onclick="update('DO#')">DO#</button>
			<button id="D" onclick="update('RE')">RE</button>
			<button id="Ds" onclick="update('RE#')">RE#</button>
			<button id="E" onclick="update('MI')">MI</button>
			<button id="F" onclick="update('FA')">FA</button>
			<button id="Fs" onclick="update('FA#')">FA#</button>
			<button id="G" onclick="update('SOL')">SOL</button>
			<button id="Gs" onclick="update('SOL#')">SOL#</button>
			<button id="A" onclick="update('LA')">LA</button>
			<button id="As" onclick="update('LA#')">LA#</button>
			<button id="B" onclick="update('SI')">SI</button>
		</div>

		<div id='inputs'></div>

		<div id='buttons'>
			<button id='compute' onclick="compute()">Calculer</button>
			<button id='clean' onclick="clean()">Nettoyer</button>
		</div>

		<div id='results'></div>

	</body>
</html>
